<?xml version="1.0" encoding="UTF-8"?>
<web-app
	id="WebApp_ID" version="3.1">
	<display-name>Mobile Management Web Application</display-name>

	<context-param>
		<param-name>jdbcURL</param-name>
		<param-value>jdbc:mysql://localhost:3306/Mobilestore</param-value>
	</context-param>

	<context-param>
		<param-name>jdbcUsername</param-name>
		<param-value>root</param-value>
	</context-param>

	<context-param>
		<param-name>jdbcPassword</param-name>
		<param-value>B09464682</param-value>
	</context-param>

	<servlet>
		<servlet-name>ControllerServlet</servlet-name>
		<servlet-class>bahrini.mobaiel.ControllerServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ControllerServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/Error.jsp</location>
	</error-page>
</web-app>